<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="https://cdnx.kincir.com/insecure/rs:fill:764:400/aHR0cHM6Ly9raW5jaXJpbWFnZS5zMy1hcC1zb3V0aGVhc3QtMS5hbWF6b25hd3MuY29tL3Byb2R1Y3Rpb24vMjAxOS0wOC9kZDliMzRmMzAyOWViOTA1MTQxM2ExNmNiMGVhN2E1NTkyMjlmODExLmpwZw=="
        alt="gambar"
        class="image-thumbnail rounded-circle w-25 h-100"
      />
      <h1 class="display-4">Rename</h1>
      <p>Content Creator | Student | WebDev</p>
    </div>
  </div>
</div>
