<div class="container text-center">
  <br /><br />
  <h1 class="fw-bold">welcome to contact app</h1>
  <br /><br />
  <div class="col-md-6 offset-md-3">
    <div class="rounded-pill bg-transparent p-2 border border-dark">
      <h3>
        <span id="typed"></span>
      </h3>
    </div>
  </div>
</div>
